body{
    margin: 50px;
    margin-top: 10%;
}
#container{
    
    margin: 0px auto;
    width: 520px;
    height: 395px;
    border: 10px #333 solid;
}

#videoElement{
    width:500px;
    height: 375px;
    background-color: #666;
}

#buttonContainer{
    margin: 0px auto;
    width:fit-content;
}

#TurnOnWebcam{
    margin-top: 50px;
}